.bg-half-black{
    background-color: #2F2F2F;
}
.promo4{
    background-color: #3AB8B2;
}
.br-10{
    border-radius:10px;
}
.text-slay-green-300{
    color: rgb(59 184 179 / var(--tw-text-opacity, 1));
}